.container {
  place-self: stretch;
  border-radius: 1rem;
  background-color: grey;
  padding: 1.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  max-width: 100%;
  height: inherit;
  background-color: var(--ui-bg-color);
  border: solid 0.2rem var(--board-bg-color);
}

.header {
  font-size: 2.5rem;
  color: #2b2a33;
}

.chat {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background-color: #57596e;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chat::-webkit-scrollbar {
  width: 0.6rem;
}

.chat::-webkit-scrollbar-track {
  background: #ddd;
}

.chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.3rem;
  word-break: break-all;
}

.msg:last-of-type {
  margin: 0;
}

.msgImg {
  width: 4rem;
  height: 4rem;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50;
}

.msgBubble {
  max-width: 70%;
  padding: 1rem;
  border-radius: 1rem;
  background: white;
}

.msgInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.msgInfoName {
  margin-right: 1rem;
  font-weight: bold;
}

.msgInfoTime {
  font-size: 0.8em;
}

.infoMsg {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin: 1rem;
}

.msgText {
  font-size: small;
  padding: 0;
}

.leftMsg .msgBubble {
  background-color: var(--black-square-bg-color);
  color: black;
  border-top-left-radius: 0;
}

.rightMsg {
  flex-direction: row-reverse;
}

.rightMsg .msgBubble {
  background-color: var(--white-square-bg-color);
  color: black;
  border-top-right-radius: 0;
}

.msgBubble.msgSameUser {
  border-radius: 1rem !important;
}

.chatForm {
  padding: 0.25rem;
  display: flex;
  height: 4rem;
  box-sizing: border-box;
  justify-self: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #57596e;
}

.chatForm input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
  background-color: #2b2a33;
  color: #fff;
}

.chatForm > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  background-color: #2b2a33;
}
