.chessboard {
  background-color: var(--board-bg-color);
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  gap: 0.2rem;
  padding: 0.2rem;
  user-select: none;
  -webkit-user-select: none;
}

.square {
  width: var(--square-size);
  height: var(--square-size);
}

.whiteSquare {
  background-color: var(--white-square-bg-color);
}

.blackSquare {
  background-color: var(--black-square-bg-color);
}

.whiteSquare p,
.blackSquare p {
  position: fixed;
  color: var(--board-bg-color);
  padding-left: 0.2rem;
}

.piece {
  cursor: grab;
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  /* z-index: -1; */
}

.piece:active {
  z-index: 5000;
  pointer-events: none;
}

.activeSquare {
  background-color: #B7C4CF;
}

.possibleMove {
  box-shadow: 0 0 5px rgba(81, 203, 238);
}

.specialMove {
  box-shadow: 0 0 5px rgb(238, 81, 81);
  z-index: 1;
}