.container {
  position: relative;
}

.chessboard {
  background-color: var(--board-bg-color);
  background-color: var(--black-square-bg-color);
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  gap: 0.3rem;
  padding: 0.3rem;
  user-select: none;
  -webkit-user-select: none;
}

.square {
  width: var(--square-size);
  height: var(--square-size);
  position: relative;

  border: 0.4rem solid;
  border-right-color: #fdedda;
  border-top-color: #eeccbc;
  border-left-color: #c0926e;
  border-bottom-color: #a77978;

}

.canGrab:hover {
  box-shadow: 0 0 5px rgb(238, 81, 81);
  cursor: grab;
}

.whiteSquare {
  background-color: var(--white-square-bg-color);
}

.blackSquare {
  background-color: var(--black-square-bg-color);
}

.whiteSquare p,
.blackSquare p {
  position: sticky;
  color: var(--board-bg-color);
  padding-left: 0.2rem;
  font-size: 1.5vh;
}

.piece {
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: absolute;
  left: -0.4rem;
  top: -0.4rem;
}

.piece:active {
  z-index: 5000;
  pointer-events: none;
}

.possibleMove {
  /* box-shadow: 0 0 0.5rem #B7C4CF; */
  box-shadow: 0 0 0.5rem 0.1rem var(--board-bg-color);
  z-index: 1;
}

.possibleMove::before {
  content: "";
  height: calc(var(--square-size) / 3);
  width: calc(var(--square-size) / 3);
  background-color: var(--board-bg-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0.8;
}

.possibleMove:hover,
.captureMove:hover,
.promotionMove:hover {
  background-color: #B7C4CF;
}

.possibleMove:hover::before {
  opacity: 0.2;
}

.captureMove,
.promotionMove {
  box-shadow: 0 0 1rem 0.1rem rgb(238, 81, 81);
  z-index: 1;
}

.check {
  box-shadow: 0 0 1rem 0.1rem rgb(238, 81, 81);
  z-index: 1;
}

.activeSquare {
  background-color: #B7C4CF;
  position: relative;
  z-index: 5;
}