:root {
  --board-size: 80vh;
  --square-size: calc(var(--board-size) / 8);
  --board-bg-color: #967e76;
  --white-square-bg-color: #eee3cb;
  --black-square-bg-color: #d7c0ae;
  --text-color: #2b2a33;
  --ui-bg-color: #45475e;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: #282a3a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: #282a3a;
  }
}
