.container {
  height: 90vh;
  padding: 2.5rem;
  display: grid;
  grid-template-columns: 0.5fr auto 1fr;
  place-items: center;
  gap: 2.5rem;
}

.blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
