.container {
  padding: 2.5rem;
  display: grid;
  grid-template-columns: 0.5fr auto 1fr;
  place-items: center;
  gap: 2.5rem;
  /* background-color: #967E76AA; */
}

.blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}